Source: click
Section: net
Priority: optional
Maintainer: Francesco Berni <kurojishi@gmail.com>
Build-Depends: debhelper (>= 7), libexpat1-dev, libpcap0.8-dev
Standards-Version: 3.9.4
Homepage: http://www.read.cs.ucla.edu/click/
Vcs-Browser: https://github.com/kohler/click
Vcs-Git: https://github.com/kohler/click.git

Package: click
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Click modular router.
 Click is a tool for building flexible and configurable routers.
 .
 A click router is assembled from simple elements that implement simple functions,
 such as packets classification, queuing, scheduling and interfacing with network devices.
 A click configuration is a graph of elements that send each others packets and process them.
 .
 This package provides the userspace tools for using click.
