#!/usr/bin/make -f
%:
	dh $@


override_dh_auto_configure:
	dh_auto_configure -- --disable-linuxmodule --enable-etherswitch --disable-test

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/click prefix=/usr install
