Source: wimaxrf
Maintainer: Francesco Berni <kurojishi@gmail.com>
Section: science
Priority: optional
Vcs-git: git://github.com/gpausa/wimaxrf.git
Vcs-browser: https://github.com/gpauusa/wimaxrf
Homepage: https://www.geni.net/?p=2448
Standards-Version: 3.9.2
XS-Ruby-Versions: ruby1.8

Package: wimaxrf
Architecture: all
Depends: ${misc:Depends}, ruby1.8, omf-aggmgr-5.4 (>= 5.4.2), rubygems1.8, libsqlite3-dev
Description: OMF WiMAX service manager.
 OMF Aggregate Manager service for configuring and monitoring GENI WiMAX installations. Control modules for NEC and Airspan base stations are provided.
 . 
 This is part of the GENI project.
