#!/usr/bin/make -f

DESTDIR = $(CURDIR)/debian/wimaxrf
OMFVER  = 5.4

%:
	dh $@

override_dh_auto_install:
	install -d $(DESTDIR)/usr/share/omf-aggmgr-$(OMFVER)/omf-aggmgr/ogs_wimaxrf
	install -d $(DESTDIR)/etc/omf-aggmgr-$(OMFVER)/available
	tar -cf - --exclude-backups --exclude-vcs \
		--exclude=AirspanMIB --exclude=click \
		--exclude=debian --exclude=etc . | \
		tar -xf - -C $(DESTDIR)/usr/share/omf-aggmgr-$(OMFVER)/omf-aggmgr/ogs_wimaxrf
	install -m 0644 etc/wimaxrf.*.yaml $(DESTDIR)/etc/omf-aggmgr-$(OMFVER)/available
